/* Formato de todos los títulos */
.titlePag {
  margin-top: 10px;
  color: #143109 ;
}

.btn-success {
  color: #fff;
  background-color: #2c6d14;
  border-color: #2c6d14;
}

.btn-success:hover {
  color: #fff;
  background-color: #143109;
  border-color: #143109;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #143109;
  border-color: #2c6d14;
  box-shadow: 0 0 0 0.2rem #2c6d14;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color:  #2c6d14;
  border-color:  #2c6d14;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #2c6d14;
  border-color: #2c6d14;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem#2c6d14;
}


.preloader {
    align-items: center;
    background: rgb(23, 22, 22);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
  }

  /* Color de las pestañas cuando están activas (el link) */
.nav-link {
  color: #2c6d14;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #143109;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}


/* Color de las nav-pills */

.nav-pills .nav-link {
  border-radius: 0.25rem;
  color:#143109;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #D4DF9E;
}

/* Color de los link */

.btn-link {
  color: #143109;
}

a{
  color: #143109;
}


/* Color de datatables */

.page-item.active .page-link {
  background-color: #D4DF9E !important;
  border: 1px solid #D4DF9E;
}

/* Color de los iconos */
.icons{
    color:#143109;
}


/* Color de los botones btn-info  */

.btn-info {
  color: #fff;
  background-color: #828C51;
  border-color: #828C51;
}

.btn-info:hover {
  color: #fff;
  background-color: rgb(116, 124, 72);
  border-color: rgb(116, 124, 72);
}

.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: rgb(116, 124, 72);
  border-color: #828C51;
  box-shadow: 0 0 0 0.2rem #828C51;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color:  #828C51;
  border-color:  #828C51;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #828C51;
  border-color: #828C51;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem#828C51;
}