{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="{% static 'images/titleBig.png'%}" width="30%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 ml-2 mr-2 ">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1.5">
                            <div class="card">
                                <div class="card-header d-flex justify-content-center" >
                                    <b>Choose your input</b>
                                </div>
                                <div class="card-body">
                                    <form id="formInput">
                                        <input type="radio" name="browser" onclick="myFunction(this.value)" value="region"> Region<br>
                                        <input type="radio" name="browser" onclick="myFunction(this.value)" value="gene"> Gene<br>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="regionInput" style="display:None;">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center">
                                        <b>Region</b>
                                    </div>
                                    <div class="card-body d-flex justify-content-center">
                                        <form action="/geno5mc/queryRegion/" method="post" id="formRegion" onsubmit="return checkformRegion();" name = "formRegion" class="formQuery">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="46TVTMEEL111nQCb3Nfw34c8IpaH9Tjk21GL1xBlbCgUAWi2zJTlyBWueI6YBg2W">
                                            <select placeholder="chrom" name="chrom" id="chrom" class="chrom_select" onchange='changeChrom()' required>
                                                <option value ="" selected disabled>chrom</option>
                                                <option value="chr1_248956422">chr1</option>
                                            </select>
                                            {{ position }}
                                            <input id="chromStart" type="number" name="chromStart" class="chromStart_select" placeholder="chromStart" min="1" required>
                                            -
                                            <input id="chromEnd" type="number" name="chromEnd" class="chromStart_select" placeholder="chromEnd" min="1" required>
                                            <div class="mt-2 d-flex justify-content-center">
                                                <button type="submit" id='submitRegion' class="btn btn-success btn-sm mr-1">Submit</button>
                                                <button id="loadExRegion" class="btn btn-info btn-sm mr-1">Load Example</button>
                                                <button type="reset" class="btn btn-secondary btn-sm mr-1">Reset</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="geneInput" style="display:None;">
                                <div class="card">
                                    <div class="card-header">
                                        <b>Gene</b>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block js %}
<script>
    function myFunction(typeInput) {
        var divRegion = document.getElementById("regionInput");
        var divGene = document.getElementById("geneInput");  
        if (typeInput == "region"){
            divRegion.style.display = "block";
            divGene.style.display = "None";
        }
        if (typeInput == "gene"){
            divRegion.style.display = "None";
            divGene.style.display = "block";
        }
        // document.getElementById("region").html("test");
    }
    </script>
{% endblock js %}