{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='menuHide'>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="{% static 'images/titleBig.png'%}" width="30%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 ml-2 mr-2 ">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1.5">
                            <div class="card">
                                <div class="card-header d-flex justify-content-center" >
                                    <b>Choose your input</b>
                                </div>
                                <div class="card-body">
                                    <form id="formInput">
                                        <input type="radio" checked="True" name="browser" onclick="myFunction(this.value)" value="region"> Region<br>
                                        <input type="radio" name="browser" onclick="myFunction(this.value)" value="gene"> Gene<br>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div id="regionInput" style="display:block;">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center">
                                        <b>REGION</b>
                                    </div>   
                                    <p id="errorsFormRegion" class="text-danger text-center ml-2 mr-2 mt-2 font-weight-light"></p>
                                    <div class="card-body d-flex justify-content-center">
                                        <form action="{% url 'region' %}?id={{ uniqueID }}" method="post" id="formRegion" onsubmit="return checkformRegion();" name = "formRegion" class="formQuery">
                                            {% csrf_token %}
                                            <select placeholder="chrom" name="chrom" id="chrom" class="chrom_select" onchange='changeChrom()' required>
                                                <option value ="" selected disabled>chrom</option>
                                                {% for chrom in chroms %}
                                                    <option value="{{ chrom.chrom }}_{{ chrom.size }}">{{ chrom.chrom }}</option>
                                                {% endfor %}
                                            </select>
                                            <input id="chromStart" type="number" name="chromStart" class="chromStart_select" placeholder="chromStart" min="1" required>
                                            -
                                            <input id="chromEnd" type="number" name="chromEnd" class="chromStart_select" placeholder="chromEnd" min="1" required>
                                            <select placeholder="Sample" name="sample" id="sample" class="sample_select" required multiple>
                                                <option value = "" selected disabled>Sample</option>
                                                <option value = "ALL">All</option>
                                                {% for sample in samples %}
                                                    <option value="{{ sample.sample }}">{{ sample.sample }}</option>
                                                {% endfor %}
                                            </select>
                                            <input id="input_id" name="input_id" type="hidden" value='{{ uniqueID }}'>
                                            <div class="mt-2 d-flex justify-content-center">
                                                <button type="submit" id='submitRegion' class="btn btn-success btn-sm mr-1">Submit</button>
                                                <button id="loadExRegion" class="btn btn-info btn-sm mr-1">Load Example</button>
                                                <button type="reset" class="btn btn-secondary btn-sm mr-1">Reset</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="geneInput" style="display:None;">
                                <div class="card">
                                    <div class="card-header">
                                        <b>Gene</b>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block js %}
<script>
    function myFunction(typeInput) {
        var divRegion = document.getElementById("regionInput");
        var divGene = document.getElementById("geneInput");  
        if (typeInput == "region"){
            divRegion.style.display = "block";
            divGene.style.display = "None";
        }
        if (typeInput == "gene"){
            divRegion.style.display = "None";
            divGene.style.display = "block";
        }
        // document.getElementById("region").html("test");
    }
</script>

<!-- Change chrom function -->

<script>
    function changeChrom(e){
        var chrom = document.getElementById("chrom").value;
        var chromEnd = chrom.split("_")[1];
        document.getElementById("chromEnd").setAttribute("max",chromEnd)
    }
</script>

<script>

function checkformRegion()    {        
        var myForm = document.formRegion;
        if((myForm.chromEnd.value-myForm.chromStart.value)>10000){
            var newEnd = parseInt(myForm.chromStart.value, 10) + 10000;
            document.getElementById("errorsFormRegion").innerHTML = "Your query has more than the maximum of 10Kb ("+(myForm.chromEnd.value-myForm.chromStart.value)+"pb), chromEnd has been changed to "+(newEnd);
            myForm.chromEnd.value = newEnd
            return false
        }
        else if (myForm.chromEnd.value<myForm.chromStart.value){
            var newEnd = myForm.chromStart.value
            myForm.chromStart.value = myForm.chromEnd.value
            myForm.chromEnd.value = newEnd
            document.getElementById("errorsFormRegion").innerHTML = "Your chromStart coordinate ("+myForm.chromStart.value+") is higher than the chromEnd coordinate ("+myForm.chromEnd.value+"), it has been interchanged, please submit again.";
            return false
        }
        else{
            ShowLoading();
            $("div.menu-hide").hide();
            return true
        }
        
    }
</script>

<script>
    $(document).ready(function(){

        $('#loadExRegion').on('click', function(){
            $('#chromStart').val("10840");
            $('#chromEnd').val("12000");
            document.getElementById('chrom').value="chr18_80373285.0";
            document.getElementById('sample').value="5637_urinaryTract"
            return false;
        });

       });
</script>


{% endblock js %}