{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='menuHide'>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="{% static 'images/titleBig.png'%}" width="30%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2 ml-2 mr-2 ">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1.5">
                            <div class="card">
                                <div class="card-header d-flex justify-content-center" >
                                    <b>Choose your input</b>
                                </div>
                                <div class="card-body">
                                    <form id="formInput">
                                        <input type="radio" checked="True" name="browser" onclick="inputType(this.value)" value="region"> Region<br>
                                        <!-- <input type="radio" name="browser" onclick="inputType(this.value)" value="gene"> Gene<br> -->
                                        <input type="radio" name="browser" onclick="inputType(this.value)" value="cpgisland"> CpG island<br>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div id="regionInput" style="display:block;">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center">
                                        <h3>REGION</h3>
                                    </div>   
                                    <p id="errorsFormRegion" class="text-danger text-center ml-2 mr-2 mt-2 font-weight-light"></p>
                                    <div class="card-body ">
                                        <form action="{% url 'region' %}?id={{ uniqueID }}" method="post" id="formRegion" onsubmit="return checkformRegion();" name = "formRegion" class="formQuery">
                                            {% csrf_token %}
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <h5 class="d-flex justify-content-center">ASSEMBLY</h5>
                                                    <div class="d-flex justify-content-center">
                                                        <select onchange="changeAssembly();" class="selectpicker" id="assembly" required title="Choose one of the following...">
                                                            {% for assembly in content %}
                                                                <option value='{{ assembly }}'>{{ assembly }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" id="divRegion" style="display:None;">
                                                    <h5 class="d-flex justify-content-center">REGION COORDINATES</h5>
                                                    <fieldset class="d-flex justify-content-center">
                                                        <select placeholder="chrom" name="chrom" id="chrom" class="chrom_select" onchange='changeChrom()' required>
                                                            <option value ="" selected disabled>chrom</option>
                                                            {% for chrom in chroms %}
                                                                <option value="{{ chrom.chrom }}_{{ chrom.size }}">{{ chrom.chrom }}</option>
                                                            {% endfor %}
                                                        </select> 
                                                        :
                                                        <input id="chromStart" type="number" name="chromStart" class="chromStart_select" placeholder="chromStart" min="1" required>
                                                        -
                                                        <input id="chromEnd" type="number" name="chromEnd" class="chromStart_select" placeholder="chromEnd" min="1" required>
                                                    </fieldset>
                                                </li>
                                                <!-- <li class="list-group-item" style="display:None;">
                                                    <p class="d-flex justify-content-center">Choose a sequencing method</p>
                                                    <fieldset class="d-flex justify-content-center">
                                                    <label>
                                                        <input type="radio" name="method" value="wgbs" checked="True"> WGBS
                                                    </label>
                                                    &nbsp;
                                                    <label>
                                                        <input type="radio" name="method" value="rrbs"> RRBS 
                                                    </label>
                                                    &nbsp;
                                                    <label>
                                                        <input type="radio" name="method" value="both"> Both 
                                                    </label>
                                                </fieldset>
                                                </li> -->
                                                <div id="divSample" style="display:None;">
                                                    <li class="list-group-item">
                                                        <p class="d-flex justify-content-center">
                                                            <h5 class="d-flex justify-content-center">SAMPLE SELECTION</h5>
                                                        </p>
                                                        <fieldset class="d-flex justify-content-center">
                                                            <select placeholder="Tissue" name="tissue" id="tissue" class="tissue_select selectpicker mr-3" required multiple>
                                                                {% for sample in content.hg38 %}
                                                                    <option value="{{ sample.sample }}">{{ sample }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <select placeholder="Sample"

                                                            <select placeholder="Sample" name="sample" id="sample" class="sample_select selectpicker" required multiple>
                                                                <option value = "ALL">All</option>
                                                                {% for sample in content.hg38.Adipose %}
                                                                    <option value="{{sample.individual}}_{{ sample.sample }}">{{ sample.individual }}_{{ sample.sample }}</option>
                                                                {% endfor %}
                                                            </select> 
                                                        </fieldset>
                                                    </li>
                                                </div>      
                                                <li class="list-group-item">
                                                    <div class="mt-2 d-flex justify-content-center">
                                                        <button type="submit" id='submitRegion' class="btn btn-success btn-sm mr-1">Submit</button>
                                                        <button id="loadExRegion" class="btn btn-info btn-sm mr-1">Load Example</button>
                                                        <button type="reset" class="btn btn-secondary btn-sm mr-1">Reset</button>
                                                    </div>
                                                </li>
                                            </ul>
                                            <input id="input_id" name="input_id" type="hidden" value='{{ uniqueID }}'>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="geneInput" style="display:None;">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center">
                                        <h3>GENE</h3>
                                    </div>    
                                </div>
                            </div>
                            <div id="cpgislandInput" style="display:None;">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center">
                                        <h3>CpG ISLAND</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block js %}
<script>
    function inputType(typeInput) {
        var divRegion = document.getElementById("regionInput");
        var divGene = document.getElementById("geneInput");  
        var divIsland = document.getElementById("cpgislandInput")
        if (typeInput == "region"){
            divRegion.style.display = "block";
            divGene.style.display = "None";
            divIsland.style.display = "None";
        }
        if (typeInput == "gene"){
            divRegion.style.display = "None";
            divGene.style.display = "block";
            divIsland.style.display = "None";
        }
        if (typeInput == "cpgisland"){
            divRegion.style.display = "None";
            divGene.style.display = "None";
            divIsland.style.display = "block";
        }
        // document.getElementById("region").html("test");
    }
</script>

<script>
    $(document).ready(function(){
        var assembly = document.getElementById("assembly").value;
    });

    function changeAssembly(e){
        var assembly = document.getElementById("assembly").value;
        var divRegion = document.getElementById("divRegion");
        var divSample = document.getElementById("divSample");
        divRegion.style.display = "block";
        divSample.style.display = "block";
}
</script>

<!-- Change chrom function -->

<script>
    function changeChrom(e){
        var chrom = document.getElementById("chrom").value;
        var chromEnd = chrom.split("_")[1];
        document.getElementById("chromEnd").setAttribute("max",chromEnd)
        document.getElementById("chromStart").setAttribute("max",chromEnd)
    }
</script>

<script>

function checkformRegion()    {        
        var myForm = document.formRegion;
        if((myForm.chromEnd.value-myForm.chromStart.value)>10000){
            var newEnd = parseInt(myForm.chromStart.value, 10) + 10000;
            document.getElementById("errorsFormRegion").innerHTML = "Your query has more than the maximum of 10Kb ("+(myForm.chromEnd.value-myForm.chromStart.value)+"pb), chromEnd has been changed to "+(newEnd);
            myForm.chromEnd.value = newEnd
            return false
        }
        else if (myForm.chromEnd.value<myForm.chromStart.value){
            var newEnd = myForm.chromStart.value
            myForm.chromStart.value = myForm.chromEnd.value
            myForm.chromEnd.value = newEnd
            document.getElementById("errorsFormRegion").innerHTML = "Your chromStart coordinate ("+myForm.chromStart.value+") is higher than the chromEnd coordinate ("+myForm.chromEnd.value+"), it has been interchanged, please submit again.";
            return false
        }
        else{
            ShowLoading();
            $("div.menu-hide").hide();
            return true
        }
        
    }
</script>

<script>
    $(document).ready(function(){

        $('#loadExRegion').on('click', function(){
            $('#chromStart').val("10840");
            $('#chromEnd').val("12000");
            document.getElementById('chrom').value="chr18_80373285.0";
            document.getElementById('sample').value="STL001_adipose";
            document.getElementById('tissue').value='Adipose'
            document.getElementById('assembly').value="hg38";
            return false;
        });

       });
</script>


{% endblock js %}